# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Google Drive service account keys
server/utils/gdrive-keys/*.json
server/utils/gdrive-keys/!

# Google OAuth2 client secret keys
server/utils/oauth-keys/

# Local env files
.env
.env.*
!.env.example
